.fa {
    color: #45005b;
}

.fa-twitter {
  font-size: 35px;
}

.fa-music {
  font-size: 35px;
}

.fa-instagram {
  font-size: 35px;
}

.fa-linkedin {
  font-size: 35px;
}

.fa-dropbox {
    font-size: 35px;
}

.fa-github {
    font-size: 35px;
}

.fa-github-alt {
    font-size: 35px;
}

.fa-podcast {
    font-size: 35px;
}

.fa-rss {
    font-size: 35px;
}

.fa-microphone {
    font-size: 35px;
}

.fa-medium {
    font-size: 35px;
}